<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bookService" class="com.itheima.service.impl.BookServiceImpl">
<!--    配置server与dao关系-->
    <property name="bookDao" ref="bookDao"/>
    </bean>

    <bean id="bookDao" name="dao2 dao bookEbi" class="com.itheima.dao.impl.BookDaoImpl" scope="prototype"  />
<!--  singleton  默认单例-->

</beans>